body{
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(248, 227, 200, 1);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"slnt" 0;

}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    
}
.info , a{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.contenitore{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.linea-laterale{
    margin-top: 90px;
    margin-bottom: 90px;
    width: 20px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cose-importanti{
    font-size: 23px;
}
.img-text1{
    margin-left: -100px; 
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 18px;
}
.img-text1 .testo{
    width: 350px;
    font-size: 20px;
    position: absolute;
    left: 150px;
}

.titolo{
    border-bottom: 10px solid black;
    margin-left: 50px; 
    width: 490px;
    position: relative;
}

.titolo h2{
    font-size: 35px;
    margin-top: 20px; 
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
}
